body {
    font-family: Arial, sans-serif;
    background-color: #f8f0f8; /* Color de fondo suave */
    color: #333; /* Color de texto */
}

header {
    background-color: #d5006d; /* Color de encabezado */
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.producto {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    transition: transform 0.2s;
    /* Elimina el tamaño fijo para que se ajuste automáticamente */
}

.producto:hover {
    transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse */
}

button {
    background-color: #d5006d; /* Color de botones */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a4004f; /* Color de botones al pasar el mouse */
}

.resumen {
    background-color: #fce4ec; /* Color de fondo del resumen */
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}
